<MudStack Row="true" Justify="Justify.SpaceBetween" Class="w-100">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer"/>
    <MudSpacer/>
    <h1>Budget @_month</h1>
    <MudSpacer/>
    <SignedInPerson/>
</MudStack>

@code {
    [Parameter]
    public bool DrawerOpen { get; set; }
    
    [Parameter]
    public EventCallback<bool> DrawerOpenChanged { get; set; }
    
    private readonly string _month = DateTime.Now.ToString("MMMM");
    
    void ToggleDrawer()
    {
        DrawerOpen = !DrawerOpen;
        DrawerOpenChanged.InvokeAsync(DrawerOpen);
    }
}