@page "/Refunds"
@using PaymentsSharing.Time
@inject RefundsTableViewModel ViewModel

<MudText Typo="Typo.h1">Refunds @MonthAndYear.Now</MudText>
<MonthSelector @bind-MonthAndYear="ViewModel.MonthAndYear"/>

<MudSimpleTable>
    <thead>
    <tr>
        <th>From\To</th>
        @foreach (string to in ViewModel.To)
        {
            <th>@to</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (string from in ViewModel.From)
    {
        <tr>
            <th>@from</th>
            @foreach (string to in ViewModel.To)
            {
                <td>@ViewModel.ToReturn(from, to)</td>
            }
        </tr>
    }
    </tbody>
</MudSimpleTable>
