@inherits LayoutComponentBase
@inject CurrentPerson CurrentPerson

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        <AppBar @bind-DrawerOpen="_drawerOpen"></AppBar>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" OpenMiniOnHover="true" ClipMode="DrawerClipMode.Docked" Variant="DrawerVariant.Mini">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        @if (CurrentPerson.IsSignedIn)
        {
            @Body
        }
        else
        {
            <h2>Sign in to see content!</h2>
        }
    </MudMainContent>
</MudLayout>

@code {

    private bool _drawerOpen;
    
    protected override void OnInitialized()
    {
        CurrentPerson.OnCurrentPersonChanged += () => InvokeAsync(StateHasChanged);
    }
}